//fonts
$header-font-family: 'Poppins', sans-serif;
$body-font-family: 'Playfair Display', serif;
$paragraph-font-family: 'Playball', cursive;

//colors
$main-color: #9061C2;
$menu-color: #919191;
$text-color: #b4b4b4;
$header-color: #121212;
$footer-bg-color: #313131;
$footer-input-bg-color: #363636;
$phone-icon-bg-color: #02adad;

//padding, margin
$common-padding: 20px;

$container-width: 730px;
