//fonts
$header-font-family: 'Poppins', sans-serif;
$body-font-family: 'Playfair Display', serif;
$paragraph-font-family: 'Playball', cursive;

//colors
$main-color: #9061C2;
$menu-color: #919191;
$text-color: #b4b4b4;
$header-color: #121212;
$section-bg-color: #FAFAFA;
$footer-bg-color: #212121;
$footer-input-bg-color: #363636;
$phone-icon-bg-color: #02adad;
$line-color: #3E3E3E;
$form-input-color: #e8ebee;
$form-input-selected-color: #DADADA;


//padding, margin
$common-padding: 20px;
$border-radius: 10px;

$container-width: 730px;

$line-height: 1.7em;

//media queries
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 992px;