.about {
  background-image: url(http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ea3d83eaa002fa3bee5de7_about-bg-50.png);
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  &__container {
    @extend .container;
    text-align: center;
    padding-bottom: $common-padding*3;
  }

  &__header {
    color: $main-color;
    margin-top: $common-padding*5;
    margin-bottom: 0;
    font: {
      family: $paragraph-font-family;
      size: 32px;
    }
  }

  &__title {
    margin: 0;
    font: {
      family: $header-font-family;
      size: 35px;
      weight: 500;
    }
    &::first-letter {
      text-transform: capitalize;
    }
    @media screen and (min-width: 480px) {
      font-size: 40px;
    }
  }

  &__info {
    font: {
      family: $body-font-family;
      size: 17px;
    }
    color: $text-color;
    margin: 0 40px;
  }

  &__image {
    max-width: 100%;
  }
}