.about-restaurant {
  font-size: 0;

  &__image {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    height: 600px;
    
    &--1 {
      background-image: url("http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ea80bf1117c47f4d94510b_photo-1.jpg");
    }
    
    &--2 {
      background-image: url("http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ea8276647642d547f2252e_photo-3.jpg");
    }
    
    &--3 {
      background-image: url("http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ea82a21117c47f4d945521_photo-4.jpg");
    }

    @include large-screen {
      display: inline-block;
      width: 33%;
    }
  }
}
