.footer {
  background-color: $footer-bg-color;
  text-align: center;
  padding: 0 $common-padding $common-padding*2 $common-padding;
  border-bottom: 1px solid $line-color;

  &__logo {
    width: 180px;
    margin-top: $common-padding *3;
  }

  &__socials {
    margin: $common-padding 0;
  }

  &__socials-text {
    display: inline-block;
    color: white;
    font: {
      family: $paragraph-font-family;
      size: 18px;
      weight: normal;
    }
  }

  &__socials-item {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    transition: 1s;

    &:hover {
      background-color: $main-color;

      .footer__socials-link {
        color: white;
      }
    }
  }

  &__socials-link {
    text-decoration: none;
    color: $text-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $common-padding/2;
    cursor: pointer;
    transition: 1s;
  }

  &__icons-item {
    max-width: 100%;
  }

  &__form {
    @include medium-screen {
      width: 550px;
      margin: auto;
    }

    @include large-screen {
      width: 550px;
      margin: auto;
    }
  }

  &__form-input {
    width: 100%;
    margin: $common-padding/2 0;
    font: {
      size: 14px;
      family: $body-font-family;
    }
    padding: $common-padding $common-padding/2;
    border-radius: $border-radius/2;
    outline: none;
    border: none;
    background-color: $footer-input-bg-color;

    @include medium-screen {
      float: left;
      width: 400px;
      margin: 0;
      border-radius: $common-padding/4 0 0 $common-padding/4;
    }

    @include  large-screen {
      float: left;
      width: 400px;
      margin: 0;
      border-radius: $common-padding/4 0 0 $common-padding/4;
    }
  }

  &__form-button {
    border: none;
    outline: none;
    background-color: $main-color;
    width: 100%;
    font: {
      size: 12px;
      family: $header-font-family;
      weight: 500;
    }
    text-transform: uppercase;
    color: white;
    padding: $common-padding 0;
    margin-bottom: $common-padding;
    border-radius: $border-radius/2;
    cursor: pointer;
    transition: 1s;

    @include medium-screen {
      width: 150px;
      float: left;
      border-radius: 0 $common-padding/4 $common-padding/4 0;
    }

    @include  large-screen {
      width: 150px;
      float: left;
      border-radius: 0 $common-padding/4 $common-padding/4 0;
    }

    &:hover {
      background-color: $header-color;
    }
  }

  &__icons-wrapper {
    @include  medium-screen {
      display: inline-block;
      width: 32%;
      vertical-align: top;
    }

    @include large-screen {
      display: inline-block;
      width: 15%;
      vertical-align: top;
    }
  }

  &__icons-item {
    width: 60px;
    margin: $common-padding 0;
  }

  &__icons-text {
    color: $text-color;
    line-height: $line-height;
    font: {
      size: 17px;
      family: $body-font-family;
    }
  }
}