.gallery {
  position: relative;
  font-size: 0;

  &__image-wrapper {
    position: relative;
    max-width: 33.333%;
    display: inline-block;
    overflow: hidden;

    &:hover:after {
      opacity: 1;
    }

    &:hover .gallery__icon {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &:after {
      background: linear-gradient(to bottom, rgba(144, 97, 194, 0) 0%, rgba(144, 97, 194, 0.98) 100%);
      opacity: 0;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include z-index(base);
      transition: all 1s;
      cursor: pointer;
    }
  }

  &__image {
    max-width: 100%;
    display: inline-block;
    margin: 0;
  }

  &__image--bigger {
    width: 330px;
  }

  &__icon {
    background: url("http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ed1802af9d15040c52b3f3_font-awesome_4-6-3_search_100_0_ffffff_none%20(2).png") no-repeat black center;
    background-size: 20px;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 254%);
    opacity: 0;
    @include z-index(overlay);
    transition: 1s;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
    }
  }

  &__modal {
    display: none;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.94);
    top: 0;
    left: 0;
    height: 100%;
    @include z-index(slider-title);
  }

  &__modal-content {
    position: relative;
    padding: 0;
    height: 100%;
  }

  &__modal-close {
    color: white;
    position: absolute;
    @include z-index(slider-nav);
    top: $common-padding;
    right: $common-padding;
    font-size: 30px;
    cursor: pointer;
  }

  &__modal-wrapper {
    display: none;
    position: relative;
    top: 25%;
  }

  &__modal-image {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    left: 0;
  }

  &__slider-wrapper {
    width:100%;
    overflow-x: auto;
    position: fixed;
    bottom: 0;
  }

  &__slider {
    width: 800px;
    margin: auto;
  }

  &__slide {
    float: left;
    width: 13%;
    margin: 10px;
    cursor: pointer;
  }

  &__slide-image {
    width: 100%;
  }
}

@mixin gallery--md() {
  .gallery__modal-wrapper {
    text-align: center;
    top: 10%;
  }

  .gallery__modal-image {
    max-width: 80%;
  }

  .gallery__slider-wrapper {
    left: 50%;
    transform: translateX(-40%);
  }

  .gallery__slide {
    width: 10%;
  }
}

@mixin gallery--lg() {
  .gallery__image-wrapper {
    max-width: 16.666%;
  }

  .gallery__modal-wrapper {
    text-align: center;
    top: 5%;
  }

  .gallery__modal-image {
    max-width: 1000px;
  }
}