.info {
  margin: $common-padding*6 $common-padding*2;

  &__image {
    width: 100px;
  }

  &__heading {
    font: {
      family: $header-font-family;
      weight: 500;
      size: 20px;
    }
    text-transform: capitalize;
    margin: $common-padding 0;
  }

  &__text {
    font: {
      family: $body-font-family;
      size: 15px;
    }
    color: $text-color;
    line-height: $line-height;

  }
}