.menu-section {
  cursor: pointer;
  padding: $common-padding/2;
  width: 200px;
  margin: auto;

  &:hover .menu-section__img {
    filter: grayscale(0);
    opacity: 1;
  }

  &:hover .menu-section__name {
    color: $main-color;
  }

  &--active {
    .menu-section__img {
      filter: grayscale(0);
      opacity: 1;
    }

    .menu-section__name {
      color: $main-color;
    }
  }

  &__img {
    width: 50px;
    display: inline-block;
    color: $text-color;
    margin: $common-padding/2;
    filter: grayscale(1);
    opacity: 0.5;
  }

  &__name {
    display: inline-block;
    vertical-align: top;
    font: {
      family: $header-font-family;
      size: 15px;
      weight: 500;
    }
    color: $text-color;
    text-transform: capitalize;
    margin: $common-padding;
  }
}

@mixin menu-section--md() {
  .menu-section {
    margin: $common-padding 0;
    width: 140px;
    display: inline-block;
  }
}

@mixin menu-section--lg() {
  .menu-section {
    margin: 0;
    display: inline-block;
    width: 18%;
    padding: 0;
  }

  .menu-section__img {
    margin: 0;
  }

  .menu-section__name {
    margin: $common-padding 0 $common-padding*1.5 0;
  }
}