.nav {
  position: relative;
  font-size: 0;

  &:after {
    @include z-index(header);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  &__title {
    @include z-index(header-items);
    width: 150px;
    padding: $common-padding $common-padding/4;
    position: relative;
  }

  &__button {
    @include z-index(header-items);
    float: right;
    background: none;
    border: none;
    font-size: 18px;
    margin-top: $common-padding;
    cursor: pointer;
    outline: none;
    position: relative;

    i {
      padding: $common-padding $common-padding/2;
    }

    &--active {
      color: white;
      background-color: $main-color;
    }
  }

  &__menu-list {
    @include z-index(menu);
    list-style-type: none;
    background-color: #FAFAFA;
    padding: 0;
    margin-top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 1s;
  }

  &__menu-item {
    @extend .container;
    padding: $common-padding;
    color: white;
    cursor: pointer;

    &--active {
      background-color: $main-color;

      &:hover .nav__menu-link,
      .nav__menu-link {
        color: white;
      }
    }

    &:hover a {
      color: $header-color;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $menu-color;
    text-transform: capitalize;
    font: {
      family: $header-font-family;
      size: 14px;
      weight: 500;
    }
  }
}

.visible {
  transform: translateY(0);
}

@mixin nav--lg() {
  .nav__container {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: $common-padding 0;
  }

  .nav__title {
    padding: 0;
  }

  .nav__button {
    display: none;
  }

  .nav__menu-list {
    @include z-index(header-items);
    display: inline-block;
    transform: none;
    position: relative;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding: $common-padding 0;
    background-color: white;
    transition: none;
  }

  .nav__menu-item {
    display: inline-block;
  }
}