.restaurant-menu {
  text-align: center;
  background-color: $section-bg-color;

  &__nav {
    @extend .container;
    margin-bottom: $common-padding;
  }
  &__header {
    font: {
      family: $paragraph-font-family;
      size: 32px;
    }
    color: $main-color;
    padding-top: $common-padding*3;
    margin: 0;
  }

  &__title {
    font: {
      family: $header-font-family;
      weight: 500;
      size: 40px;
    }
    color: $header-color;
    margin-top: 0;
    margin-bottom: $common-padding*2;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__contents {
    @extend .container;
    width: 100%;
    height: 400px;
  }

  &__button {
    @include z-index(base);
    font: {
      family: $header-font-family;
      weight: 500;
      size: 12px;
    }
    text-transform: uppercase;
    background-color: $main-color;
    padding: $common-padding;
    letter-spacing: 0.1em;
    border-radius: $border-radius;
    border: none;
    outline: none;
    margin-top: $common-padding/2;
    margin-bottom: $common-padding*4;
    cursor: pointer;
    transition: 0.5s;
    position: relative;

    &:hover {
      background-color: $header-color;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    padding: $common-padding 0;
  }

  &--bottom-padding {
    padding-bottom: $common-padding*2;
  }
}

@mixin restaurant-menu--md() {
  .restaurant-menu__contents {
    height: 300px;
  }
}

@mixin restaurant-menu--lg() {
  .restaurant-menu {
    float: left;
    width: 66%;
  }

  .restaurant-menu--full-width {
    width: 100%;
  }

  .restaurant-menu__contents {
    height: 266px;
  }

  .restaurant-menu__button {
    margin-top: $common-padding;
  }
}