.slider {
  position: relative;

  &__video {
    width: 100%;
    position: absolute;
  }

  &__bg {
    background-image: url("http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ea528dfbbf45e84764f665_backg-2.png");
    width: 100%;
    position: absolute;
    height: 100%;
  }

  &__img {
    width: 100%;
    position: absolute;
  }
}