.slider {
  position: relative;
  height: 560px;
  overflow: hidden;

  &__item {
    opacity: 0;
    position: absolute;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--image {
      background-size: cover;
      background-position: 50%;
    }

    &--active {
      opacity: 1;
    }

    @include large-screen {
      height: 1075px;
    }
  }

  &__button {
    @include z-index(slider-nav);
    outline: none;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.66);
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    margin: 0 $common-padding;
    color: white;
    cursor: pointer;

    i {
      font-size: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $main-color;
      transition: 1s;
    }

    &--right {
      left: auto;
      right: 0;
    }
  }

  &__bg {
    @include z-index(overlay);
    background-image: url("http://uploads.webflow.com/57ea3312eaa002fa3bee3f81/57ea528dfbbf45e84764f665_backg-2.png");
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    @include large-screen {
      background-size: cover;
    }
  }

  &__title {
    @include z-index(slider-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  &__title-image {
    max-width: 100%;
  }

  &__title-heading {
    font: {
      family: $paragraph-font-family;
      size: 50px;
      weight: 500;
    }
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-top: $common-padding/2;
    @media screen and (min-width: 768px){
      font-size: 80px;
    }
  }

  &__title-button {
    text-transform: uppercase;
    color: white;
    background-color: $main-color;
    border: none;
    outline: none;
    font: {
      family: $header-font-family;
      size: 12px;
      weight: 500;
    }
    padding: $common-padding;
    margin-top: $common-padding;
    border-radius: $border-radius;
    letter-spacing: 0.1rem;
  }

  @include large-screen {
    height: 850px;
  }
}